:root {
  --border-radius: 4px;
  --color-text: #333;
  --color-primary: #7026b9;
  --color-code-bg: #fff4db;
  --color-code: #8a6534;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
}
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-family: "Noto Sans KR", sans-serif;;
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}
a {
  background-color: transparent;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}
a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01em;
}
h1 > b {
  color: var(--color-primary);
}
img {
  border-style: none;
  max-width: 100%;
}
code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  line-height: inherit;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-4);
}
ul,
ol {
  margin-left: var(--space-4);
  list-style-position: outside;
  list-style-image: none;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: var(--space-4);
  font-size: 0.875rem;
  line-height: var(--line-height-normal);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: var(--border-radius);
  overflow: auto;
  word-wrap: normal;
  padding: var(--space-4);
}
b,
strong,
dt,
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(var(--space-4) / 2);
}
ol li,
ul li {
  padding-left: 0;
}
li > ol,
li > ul {
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
  margin-top: calc(var(--space-4) / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(var(--space-4) / 2);
}
p {
  max-width: 680px;
}
code {
  font-size: 0.875rem;
}
kbd {
  font-size: 0.875rem;
}
samp {
  font-size: 0.875rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
tt,
code {
  background-color: var(--color-code-bg);
  border-radius: var(--border-radius);
  color: var(--color-code);
  font-family: var(--font-mono);
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  word-break: normal;
}
pre code {
  background: none;
}
code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
}

/*   Header 메뉴  */
.header {
  background-color: #0e111149;
  transition: background-color linear .2s;
}
.header-dark {
  background-color: #0e1111;
  transition: background-color linear .2s;
}

.btn-download:hover {
  background: rgb(151, 108, 123) !important;
  background: linear-gradient(312deg, rgba(205,73,119,1) 0%, rgba(181,77,113,1) 48%, rgba(194,107,138,1) 100%)  !important;
}

.left-menus {
  display: flex;
  align-items: center;
}
.left-menus .menu {
  font-size: 1.25rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  /* padding: 1rem; */
  margin: 1rem 1rem 1rem 2rem;
  cursor: pointer;
}

/*   중앙 화면   */
.game-bg-wrapper {
  position: relative;
  width: 100%;
  height: 1100px;
  overflow: hidden;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  box-sizing: border-box;
}
.game-bg-wrapper.sub-wrapper {
  height: 400px;

}
.game-bg-wrapper .game-bg-wrapper-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 100%;
}
.game-bg-wrapper .game-bg-wrapper-content .txt-main-visual {
  margin-bottom : 0px;
  font-size: 5rem;
  color: white;
  font-weight: 800;
  text-shadow: 0px 0px 7px #ffa7a7;
}
.game-bg-wrapper .game-bg-wrapper-content .txt-sub-visual {
  margin-top: 0px;
  font-size: 2rem;
  color: rgb(255, 228, 228);
  text-shadow: 0px 0px 4px #000000;
}

.block {
  padding: 9rem 0rem;
}
.block.secondary-block {
  padding: 5rem 0rem;
}
.youtube-block .block-desc {
  margin: 0rem 2rem;
}
.block-desc h3 {
  font-weight: 700;
}

.white-container {
  background-color: rgb(255, 255, 255);
}
.secondary-container {
  background-color: rgb(224, 220, 220);
}
.gradient-container {
  background: rgb(33,29,28);
  background: linear-gradient(286deg, rgba(33,29,28,1) 0%, rgba(68,59,52,1) 49%, rgba(33,29,28,1) 100%);
  color: white;
}
.black-container {
  background-color: #000;
  color: white;
  text-align: center;
}

.contents-img {
  border-radius: 0.25rem;
  filter: brightness(60%);
  cursor: pointer;
  transition: filter 1s ease;
}
.contents-img:hover {
  filter: brightness(80%);
}
.contents-img:hover + .contents-name {
  display: none;
}
.contents-name  {
  font-weight: 700;
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.img-segu {
  height: 500px;
}
.img-contents {
  width: 552px;
}
.job-name {
  font-size: 4rem;
}
.job-desc {
  font-size: 1.5rem;
  height: 280px;
  white-space: pre-line;
}
.job-desc .job-ability {
  font-size: 1rem;
  color:rgb(194, 194, 194);
  white-space: pre-line;
}
.job-btn {
  border: none;
  background-color: transparent;
  width: 8rem;
}
.job-btn.job-selected {
  width: 9rem;
}
.job-btn img {
  filter: brightness(.6);
}

.job-btn.job-selected img {
  filter: brightness(1);
}

.list-group {
  margin: 0px;
}
.list-group-item {
  border: none !important;
  border-radius: .5rem !important;
  background-color: white;
}

.start-txt {
  font-weight: 800;
  margin-bottom: 2rem;
}
.start-btn {
  font-size: 1rem;
  border: none;
  font-weight: 800;
  padding: 1rem 4rem;
  color: white;
  background: rgb(151, 108, 123) !important;
  background: linear-gradient(312deg, rgb(188 57 103) 0%, rgba(181,77,113,1) 48%, rgb(214 79 127) 100%)  !important
}

.updated-txt {
  text-align: right;
}

footer {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
  margin-bottom: 6rem;
}
footer .footer-img {
  width: 100px;
  height: 100px;
}

.sub-container {
  padding-top: 8rem;
  padding-bottom: 12rem;
}
.credit-h2 {
  margin-bottom: 5rem;
  font-size: 3rem;
  font-weight: bold;
}
.credit-job {
  color: #be5c7e;
  margin-top: 3rem;
  font-weight: bold;
  font-size: 1.5rem;
}
.credit-name {
  color: #000;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: underline !important;
}
.credit-name.none-link {
  text-decoration: none !important;
}

.badge-primary {
  background-color: #be5b7e !important;
}

.version-block  {
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  white-space: pre-line;
}

::-moz-selection {
  background: #be5b7e !important;
}
::selection {
  background: #be5b7e !important;
}

@media (max-width: 1200px) {
  .game-bg-wrapper .game-bg-wrapper-content .txt-main-visual {
    font-size: 4rem;
  }
  .contents-name  {
    font-size: .8rem;
  }
}


@media (max-width: 992px) {
  .game-bg-wrapper .game-bg-wrapper-content .txt-main-visual {
    font-size: 3rem;
  }
  .game-bg-wrapper .game-bg-wrapper-content .txt-sub-visual {
    font-size: 1.5rem;
  }

  .block {
    padding: 5rem 1rem;
  }

  .yt-iframe {
    width: 100%;
    height: 394px;
  }
  .job-btn {
    width: 4rem;
  }
  .job-btn.job-selected {
    width: 5rem;
  }
  .contents-name  {
    font-size: .6rem;
  }
}


@media (max-width: 768px) {
  .left-menus {
    width: 100%;
  }
  .logo {
    flex: 1 0 auto;
  }
  .logo-menu {
    margin: 10px !important;
  }
  .logo-menu img {
    height: 50px;
  }
  .btn-download {
    display: none !important;
  }
  .left-menus .menu {
    font-size: 14px;
    margin: .2rem 1rem;
    flex: 0 0 auto;
  }

  .game-bg-wrapper {
    height: 100vh;
  }
  .game-bg-wrapper .game-bg-wrapper-content .txt-main-visual {
    font-size: 1.5rem;
  }
  .game-bg-wrapper .game-bg-wrapper-content .txt-sub-visual {
    font-size: 1.25rem;
  }
  .yt-iframe {
    width: 100%;
    height: 190px;
    margin-bottom: 4rem;
  }
  
  .job-name {
    font-size: 3rem;
  }
  .job-desc {
    font-size: 1rem;
    height: 200px;
  }
  .contents-name  {
    font-size: 1.25rem;
    margin-right: -2rem;
  }
}
@media (max-width: 576px) {
  .credit-name {
    font-size: 1.125rem;
    margin-left: .8rem;
    margin-right: .8rem;
  }
  .youtube-block .block-desc {
    margin: 0px;
  }
}